ul {
    list-style-type: none;
    /* noktaları kaldırır */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.anasayfa_menu {
    float: left;
    /* yan yana çıkması için */
}

.anasayfa_menu a {
    display: block;
    /* sadece yazının değil dolguların da tıkllanabilir olmasını sağlar */
    color: white;
    text-align: center;
    /* texti ortalar */
    padding: 14px 16px;
    text-decoration: none;
    /* alt çizgiyi kaldırmak için */
}

li a:hover {
    background-color: #111;
}

.anasayfa {
    /* anasayfa divi */
}

.anasayfa_bolum1 {
    background-color: aqua;
}

.anasayfa_bolum1_icerik {}

.anasayfa_bolum1_icerik_textarea {}

.anasayfa_edittext {}

.soru_textarea {}